*{
  padding: 0;
  padding-top:3px;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  padding-bottom:0px; 
  
}




@media (max-width: 858px){
  
  body {
    max-width: 100%;
    overflow-x: hidden;
    
}

}

section{
  background: url() no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

main{

height:15%;
padding: 50px;
margin-left:0;
margin-right:0;

}

main > a{
  border-bottom: 1px dotted black;
}


main.wine-list{

  height:15%;
  padding: 15px;
  
  }

main > h1{
  color:white;
  text-shadow: 0 0 3px rgb(0, 0, 0);
  font-size: 58px;
  width:1%;
  float:right;
  margin-right:10%;
  padding-right:22px;

}

.bottle{
  display:flex;
  justify-content:center;
padding-bottom:50px;
}
.bottle > p{
  text-align:left;
padding-left:15px;
}


div > h1{
  text-align: center;

}

.wines{
  display:flex;
  justify-content:center;
}

.wines > a{
  padding-left: 5px;
  padding-right: 5px;
  transition: .01s;
}

.wines > a:hover{
  background-color: rgba(231, 231, 231, 0.685);
}

div > p{
  text-align:center;
  font-size:15px;

}
.bottle > span {
  padding-left: 25px;
  padding-bottom:0px;
font-size:15px;
}

.bottle > a{
  padding-left: 30px;
}

.liyou {
  background-color: rgba(45, 38, 46, 0.527);
margin-left: 20px;
}

.liyou > p{
  padding-left:30px;
  padding-top: 13px;
  padding-right:20px;
  text-align:left;
  color:white;
}

.vineyard-info{
  float:right;
  padding-bottom:20px;
margin-right:5%;
margin-left:5%;
}

.vineyard-info > p{
text-align: left;
width:90%;
  padding-left:18%;

}
.vineyard-info > h3{
  text-align: left;
  width:90%;
    padding-left:18%;
  }

.vineyardpicture{
  padding-left:18%;
  bottom:0;
background-color: rgb(255, 255, 255);
}

.vineyard-name{ 
  float:left;
  background-color: rgb(255, 255, 255);
  margin-right:0%;
  width:3%;
  text-shadow: 0 0 3px rgb(255, 255, 255);

}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(74, 74, 74, 0.897);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  width: 150px;
  top: 100%;
  left: 50%;
  margin-left: -60px; 
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

span a{
  font-size: 20px;
  color:  #ffffff;
  background-color: rgb(199, 78, 144);
  padding-left:3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-top: 3px;
  border-radius: 10px;
}

